# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\master\Java\Lab9Client\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
