<?xml version='1.0' encoding='utf-8'?>
<!--
  ~ Copyright (c) 17.2020 - Owned by lapachitei
  -->
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

    </session-factory>
</hibernate-configuration>
